.env

# Cache
.pytest_cache/
__pycache__/
.tox/
*.pyc

# Ide
.vscode/

# Node
node_modules/
package-lock.json

# Coverage
htmlcov/
.coverage
coverage.xml

# UML
uml/

# Dist
dist/

# Built Documentation
_build/
rosetta_lang.egg-info/
