# Cache
__pycache__
.mypy_cache

# Python stuff
.tox
.venv
.coverage/
Pipfile.lock

# Install Stuff
*.egg-info

# IDE
.env
.vscode
generic_lexer.code-workspace

# Docs
docs/build
docs/cache
docs/output
